{% extends 'layout.html' %}
{% block content %}
            <script type="text/javascript">
                namespace = '/chat';
                var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
                socket.emit('join', {room: '{{ chat }}'});
                roomname = '{{ chat }}';
                username = '{{ username }}';

window.onbeforeunload = function() {
    socket.emit('leaving channel', {username: username});
};
            </script>

			<br />
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box widget-chat">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-comment"></i>
								</span>
								<h5>{{ chat }}</h5>
								<div class="buttons">
									<a class="btn go-full-screen"><i class="fa fa-resize-full"></i></a>
								</div>
							</div>
							<div class="widget-content nopadding">
								<div class="chat-content panel-left">                   
								   <div class="chat-messages" id="chat-messages">
										<div id="chat-messages-inner" class="chat-messages-inner"></div>
								   </div>									
								   <div class="chat-message well">
                                       <form id="emit" method='POST' action='#'>
                                            <span class="input-group">
                                            <input type="text" name="emit_data" id="emit_data" placeholder="Message" class="form-control input-small">
                                            <span class="input-group-btn">
                                            <input type="submit" value="Send" class="btn btn-success btn-small">
                                            </span>
                                            </span>
                                           </form>






								   </div>                   
								</div>
								<div class="chat-users panel-right">
									<div class="panel-title"><h5>Online Users</h5></div>
									<div class="panel-content nopadding">
										<ul class="contact-list">
                                            {% for user in users %}
											<li id="user-{{ user.username }}" class="online"><a href="#"><img alt="" src="../static/img/demo/av1.jpg" /> <span>{{ user.username }}</span></a></li>
											{% endfor %}
										</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            {% endblock %}
{% block scripts %}
<script src="../static/js/jquery.min.js"></script>
            <script src="../static/js/jquery-ui.custom.js"></script>
            <script src="../static/js/bootstrap.min.js"></script>

            <script src="../static/js/jquery.nicescroll.min.js"></script>
            <script src="../static/js/unicorn.js"></script>
            <script src="../static/js/unicorn.chat.js"></script>
{% endblock %}